module EZBake
  Config = {
      :project        => '{{{project}}}',
      :real_name      => '{{{real-name}}}',
      :user           => '{{{user}}}',
      :restart_file   => '{{restart-file}}',
      :group          => '{{{group}}}',
      :start_timeout  => '{{{start-timeout}}}',
      :open_file_limit => {{{open-file-limit}}},
      :uberjar_name   => '{{{uberjar-name}}}',
      :config_files   => [{{{config-files}}}],
      :system_config_files   => [{{{system-config-files}}}],
      :cli_app_files  => [{{{cli-app-files}}}],
      :bin_files      => [{{{bin-files}}}],
      :create_dirs    => [{{{create-dirs}}}],
      :terminus_info  => {
                          {{#terminus-map}}
                            "{{{name}}}" => {
                              :files => [{{{files}}}],
                              :version => "{{{version}}}"
                            }
                          {{/terminus-map}}
                          },
      :debian         => {
                          :additional_dependencies => [{{{debian-deps}}}],
                          :additional_preinst => [{{{debian-preinst}}}],
                          :additional_postinst => [{{{debian-postinst}}}],
                          :additional_install => [{{{debian-install}}}],
                          :pre_start_action => [{{{debian-pre-start-action}}}],
                          :post_start_action => [{{{debian-post-start-action}}}],
                          },
      :redhat         => {
                          :additional_dependencies => [{{{redhat-deps}}}],
                          :additional_preinst => [{{{redhat-preinst}}}],
                          :additional_postinst => [{{{redhat-postinst}}}],
                          :additional_install => [{{{redhat-install}}}],
                          :pre_start_action => [{{{redhat-pre-start-action}}}],
                          :post_start_action => [{{{redhat-post-start-action}}}],
                          },
      :main_namespace => '{{{main-namespace}}}',
      :java_args      => '{{{java-args}}}',
      :start_after    => [{{{start-after}}}],
      :replaces_pkgs  => {
                          {{#replaces-pkgs}}
                            "{{package}}" => "{{version}}",
                          {{/replaces-pkgs}}
                          },
      :bootstrap_source => '{{{bootstrap-source}}}',
      :logrotate_enabled => {{{logrotate-enabled}}}
  }
end
