---
project: '{{{project}}}'
author: 'Puppet Labs'
email: 'info@puppetlabs.com'
homepage: 'https://github.com/puppetlabs/ezbake'
summary: '{{{summary}}}'
description: '{{{description}}}'
version_file: 'version'
# files and gem_files are space separated lists
files:
  - ext
  - "*.md"
  - {{{uberjar-name}}}
{{#additional-uberjars}}
  - {{uberjar}}
{{/additional-uberjars}}
  - version
  - Rakefile
  - Makefile.erb
  - puppet
  - install.sh.erb
  - ext/fpm.rb
templates:
  - source: ext/redhat/ezbake.spec.erb
    target: ext/redhat/{{{project}}}.spec
  - source: ext/redhat/ezbake.service.erb
    target: ext/redhat/{{{project}}}.service
  - source: ext/default.erb
    target: ext/debian/{{{project}}}.default_file
  - source: ext/debian/ezbake.init.erb
    target: ext/debian/{{{project}}}.init_script
  - source: ext/debian/ezbake.service.erb
    target: ext/debian/{{{project}}}.service_file
  - source: ext/ezbake.logrotate.conf.erb
    target: ext/{{{project}}}.logrotate.conf
  - source: ext/ezbake.logrotate-legacy.conf.erb
    target: ext/{{{project}}}.logrotate-legacy.conf
  - source: ext/ezbake.tmpfiles.conf.erb
    target: ext/{{{project}}}.tmpfiles.conf
  - ext/redhat/preinst.erb
  - ext/redhat/postinst.erb
  - ext/redhat/prerm.erb
  - ext/redhat/postrm.erb
  - ext/redhat/init.erb
  - ext/redhat/init.suse.erb
  - ext/debian/changelog.erb
  - ext/debian/control.erb
  - ext/debian/dirs.erb
  - ext/debian/postrm.erb
  - ext/debian/preinst.erb
  - ext/debian/prerm.erb
  - ext/debian/postinst.erb
  - ext/debian/rules.erb
  - ext/config/user/conf.d/*.erb
  - ext/bin/*.erb
  - ext/cli/apps/*.erb
  - ext/cli/*.erb
  - ext/cli_defaults/*.erb
  - ext/default.erb
  - ext/ezbake-functions.sh.erb
  - Makefile.erb
  - install.sh.erb
  - controller.sh.erb
tar_excludes:
  - .gitignore
build_pe: {{{is-pe-build}}}
apt_repo_name: {{{repo-name}}}
apt_nonfinal_repo_name: {{{nonfinal-repo-name}}}
yum_repo_name: {{{repo-name}}}
yum_nonfinal_repo_name: {{{nonfinal-repo-name}}}
gem_files:
gem_require_path:
gem_test_files:
gem_executables:
gem_default_executables:
