module EZBake
  Config = {
      :project => '{{{project}}}',
      :real_name => '{{{real-name}}}',
      :user => '{{{user}}}',
      :group => '{{{group}}}',
      :uberjar_name => '{{{uberjar-name}}}',
      :config_files => [{{{config-files}}}],
      :terminus_info => {
                         {{#terminus-map}}
                           "{{{name}}}" => {
                             :files => [{{{files}}}],
                             :version => "{{{version}}}"
                           }
                         {{/terminus-map}}
                        },
      :debian => {
                    :additional_dependencies => [{{{deb-deps}}}],
                    :additional_preinst => [{{{deb-preinst}}}],
                    :additional_install => [{{{debian-install}}}],
                 },
      :redhat => {
                    :additional_dependencies => [{{{redhat-deps}}}],
                    :additional_preinst => [{{{redhat-preinst}}}],
                    :additional_install => [{{{redhat-install}}}],
                 },
      :java_args => '{{{java-args}}}',
      :replaces_pkgs => {
                          {{#replaces-pkgs}}
                            "{{package}}" => "{{version}}",
                          {{/replaces-pkgs}}
                        },
  }
end
