module EZBake
  Config = {
      :project => '{{{project}}}',
      :user => '{{{user}}}',
      :group => '{{{group}}}',
      :uberjar_name => '{{{uberjar-name}}}',
      :config_files => [{{{config-files}}}],
      :terminus_files => {
                         {{#terminus-map}}
                           "{{{name}}}" => [{{{files}}}],
                         {{/terminus-map}}
                         },
      :debian => {
                    :additional_dependencies => [{{{deb-deps}}}],
                    :additional_preinst => [{{{deb-preinst}}}],
                 },
      :redhat => {
                    :additional_dependencies => [{{{redhat-deps}}}],
                    :additional_preinst => [{{{redhat-preinst}}}],
                 },
  }
end
