---
project: '{{{project}}}'
author: 'Puppet Labs'
email: 'info@puppetlabs.com'
homepage: 'https://github.com/puppetlabs/ezbake'
summary: '{{{summary}}}'
description: '{{{description}}}'
version_file: 'version'
# files and gem_files are space separated lists
files:
  - ext
  - "*.md"
  - {{{uberjar-name}}}
  - version
  - Rakefile
  - Makefile.erb
  - puppet
templates:
  - source: ext/redhat/ezbake.spec.erb
    target: ext/redhat/{{{project}}}.spec
  - source: ext/redhat/ezbake.service.erb
    target: ext/redhat/{{{project}}}.service
  - source: ext/default.erb
    target: ext/debian/{{{project}}}.default
  - source: ext/debian/ezbake.init.erb
    target: ext/debian/{{{project}}}.init
  - ext/redhat/init.erb
  - ext/debian/changelog.erb
  - ext/debian/control.erb
  - ext/debian/docs.erb
  - ext/debian/postrm.erb
  - ext/debian/preinst.erb
  - ext/debian/rules.erb
  - ext/default.erb
  - Makefile.erb
tar_excludes:
  - .gitignore
build_pe: {{{is-pe-build}}}
gem_files:
gem_require_path:
gem_test_files:
gem_executables:
gem_default_executables:
